.btn-container {
    width: 100%;
    text-align: center;
}

.inline-btn-container {
    @include flexbox-display;
    @include flexbox-direction(column);
    .btn {
        flex: 1;
        .btn-text {
            white-space: nowrap;
        }
    }
    @include breakpoint($tablet-vert) {
        @include flexbox-direction(row);
    }
}

.btn {
    // box-shadow: $box-shadow-primary;
    font-family: $font-family-primary;
    display: inline-block;
    background-color: white;
    padding: .5em 2em;
    color: white;
    text-align: center;
    border-radius: 0;
    border: none;

    @include transition(all .25s ease-in-out);
    @include colorArray;
    @include borderandtextcolorArray;
    +.btn {
        margin-top: 1em;
        margin-left: 0;
        @include breakpoint($tablet-vert) {
            margin-top: 0;
            margin-left: 1em;
        }
    }
    .icon-container {
        display: inline-block;
        position: relative;
        text-align: center;
        vertical-align: middle;
        margin-right: .5em;
    }
    .text-container {
        display: inline-block;
        .btn-text {
            display: inline-block;
            // font-weight: bold;
            text-transform: normal;
            letter-spacing: $letter-spacing-secondary;
            line-height: 30px;
        }
    }
    &:hover {
        color: white;
        // box-shadow: $box-shadow-secondary;
    }
    &:focus {
        outline: 0;
        color: white;
        box-shadow: $box-shadow-secondary;
    }
    &.btn-block {
        width: 100%;
        display: block;
    }
    &.btn-square {
        padding: 0;
        background-color: white;
        color: $grey-01;
        .icon-container {
            width: 2em;
            height: 2em;
            margin-right: 0;
            position: relative;
            i {
                @include absolute-center();
                height: 1em;
            }
        }
        &:hover {
            color: white;
            @include hoverColorArray;
        }
    }
    &.white {
        color: $grey-01;
        &:hover {
            @include hoverColorArray;
            color: white !important;
        }
    }
    &.grey-btn {
        color: $grey-01;
        font-weight: 100;
        font-size: .9em;
        box-shadow: none;
        .btn-text {
            font-weight: normal;
        }
        .btn-label {
            font-weight: normal;
            letter-spacing: .08em;
            line-height: 30px;
        }
        &:hover {
            color: $grey-01 !important;
        }
        &:focus {
            box-shadow: $box-shadow-primary;
        }
    }
    &.btn-sm {
        padding: .25em 1.75em;
        font-size: .6em;
    }
    &.btn-lg {
        padding: 1em 1.5em;
        font-size: 1.1em;
    }
    &.btn-slideout {
        padding: 0;
        white-space: nowrap;
        max-width: 2em;
        overflow: hidden;
        background-color: white;
        color: $grey-01;
        .icon-container {
            width: 2em;
            height: 2em;
            margin-right: 0;
            float: left;
            i {
                @include absolute-center();
                height: 1em;
            }
        }
        .text-container {
            padding-right: .5em;
            opacity: 0;
            height: 2em;
            .btn-text {
                @include vertical-align;
                display: inline-block;
                font-weight: 300;
                text-transform: uppercase;
                // letter-spacing: .05em;
            }
        }
        &:hover {
            max-width: 300px;
            color: white;
            @include colorArray;
            .text-container {
                opacity: 1;
                @include transition(opacity .1s .15s ease-in-out);
            }
        }
        &.right-aligned {
            float: right;
            .icon-container {
                float: right;
            }
            .text-container {
                padding-right: 0;
                padding-left: .5em;
            }
        }
    }
}