.cards
{
    @include flexbox-display;
    @include flexbox-flow(row wrap);
    @include flexbox-justify-left;
    margin-top: -1px;
    margin-left: -1px;

    &.no-hover
    {
        .card
        {
            &:hover
            {
                transform: none;
                box-shadow: none;
                cursor: default;
            }
        }
    }

    .card
    {
        width: 100%;
        padding: 2em;
        margin-bottom: 2em;
        text-align: center;
        outline: 1px solid #D9DCE3;
        margin-top: 1px;
        margin-left: 1px;
        display: flex;
        flex-direction: column;
        vertical-align: top;
        color: $color-text-primary;
        position: relative;
        background-color: white;
        z-index: 0;
        cursor:pointer;

        @include breakpoint($tablet-vert)
        {
            width: 33%;

            &:hover
            {
                @include transition(all .25s ease-in-out);
                box-shadow: $box-shadow-secondary;
                border: none;
                transform: scale(1.05);
                z-index: 1;
            }
        }

        .img-container
        {
            height: 7em;
            position: relative;
            margin: initial;
            margin-bottom: 1em;

            img
            {
                @include absolute-center;
                margin: auto auto 0;
            }
        }

        .name
        {
            margin-bottom: .5em;
        }

        .price-container
        {
            margin-bottom: 1em;

            .price
            {
                display: inline-block;
                font-size: 2em;
            }

            .euro-symbol
            {
                display: inline-block;
                font-size: 2em;
                margin-right: .25em;
            }

            .unit
            {
                display: inline-block;
                vertical-align: top;
                line-height: 2.25em;
                font-size: .8em;
            }
        }

        .specs
        {
            font-weight: 300;
            font-size: .8em;
            margin-bottom: 1em;

            .spec
            {
                line-height: 1.7em;
            }
        }

        .btn-container
        {
            margin-bottom:2em;

            .btn-text
            {
                font-size: .75em;

                @include breakpoint($tablet-hor)
                {
                    font-size: 1em;
                }
            }
        }

        .footer
        {
            margin-top: auto;
        }
    }
}