.drop-cap-title-container
{
    position: relative;
    margin: 0 auto;
    z-index: 1;
    padding: 1em 1em 0;

    .drop-cap
    {
        position: absolute;
        font-size: 11.25em;
        text-transform: uppercase;
        font-weight: bold;
        z-index: -1;
        opacity: .1;
        top: -.25em;
        left: -.1em;

        .dark &
        {
            color: white;
        }
    }

    .short-description
    {
        font-weight: bold;
        @include textColorArray;
    }

    .title
    {
        font-size: 2.5em;
        margin-bottom: .25em;
    }

    .description
    {
        margin-bottom: 1em;
    }

    .text-light &
    {
        color: white;
    }
}