.form-container
{
    margin: 1em auto;
    text-align:left;

    .btn
    {
        min-width: 11em;
        @include breakpoint($tablet-vert)
        {
            min-width: 15em;
        }
        + .btn
        {
            margin-top:1em;
        }
    }

    .secondary-pickup
    {
        text-align: center;
    }

    .section-label
    {
        margin-bottom: 1em;
    }
}

.form-section
{
    padding-bottom: 2em;

    .name
    {
        margin-bottom: 1em;
        padding-left: .45em;
    }
}

.form-group
{
    position: relative;
    margin-bottom: 2.5em;
    vertical-align:top;

    label
    {
        font-size: .725em;
        color: $grey-05;
        text-transform: uppercase;
        letter-spacing: .1em;
        padding-left: 10px;
        display: block;

        .inline-icon-wrapper
        {
            a
            {
                display: table-cell;
            }
        }
    }

    .help-block
    {
        padding: .25em 10px 0;
    }



    input, select
    {
        padding: 0.3em 10px;
        width: 100%;
        cursor: pointer;
        color: $grey-01;

        &:focus
        {
            outline:0;
        }

        .dark &
        {
            color: white;
        }
    }

    input
    {
        position: relative;
        border: none;
        border: 1px solid $grey-03;
        border-radius: 4px;

        &:-webkit-autofill
        {
            -webkit-box-shadow: inset 0 0 0px 9999px white;
        }

        &::-webkit-input-placeholder { /* WebKit, Blink, Edge */
            color: $grey-02;
            font-weight: 300;
        }
        &:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
            color: $grey-02;
            opacity: 1;
            font-weight: 300;
        }
        &::-moz-placeholder { /* Mozilla Firefox 19+ */
            color: $grey-02;
            opacity: 1;
            font-weight: 300;
        }
        &:-ms-input-placeholder { /* Internet Explorer 10-11 */
            color: $grey-02;
            font-weight: 300;
        }
        &::-ms-input-placeholder { /* Microsoft Edge */
            color: $grey-02;
            font-weight: 300;
        }
        &:invalid
        {
            box-shadow: none;
            -webkit-box-shadow: inset 0 0 0px 9999px white;
        }
    }

    .line-input
    {
        background: transparent;
        border-radius: 0;
        border: none;
        border-bottom: 1px solid $grey-03;

        width: 100%;
        @include transition(border-color .25s ease-in-out);

        &:focus
        {
            outline: 0;
            border-color: $blue-01;
        }

        &.valid
        {
            color: $green-01;
            border-color: $green-01;
        }

        &.error
        {
            //color: $red-01;
            border-color: $red-01;
        }
    }

    a(not.drop-down)
    {
        margin-top: 1em;
        margin-left: .75em;
        display: block;
        font-size: .8em;
        @include textColorArray();
    }
    .resend-btn
    {
        margin-top: 0;
        margin-left: .75em;
        display: inline;
        font-size:1em;
        border-bottom: 1px solid $green-01;
    }

    .inline-form-group &
    {
        @include breakpoint($tablet-vert)
        {
            display: inline-block;
            width: calc(50% - .5em);

            &:nth-child(even)
            {
                margin-left: .5em;
            }
            &:nth-child(odd)
            {
                margin-right: .5em;
            }
        }
    }

    .form-with-btn
    {
        @include flexbox-display;
        @include flexbox-direction(row);

        input
        {
            flex: 1 auto;
            border: $border-primary;
            border-right: none;
            border-radius: 4px 0 0 4px;
        }

        .btn
        {
            margin: 0;
            white-space: nowrap;
            border-radius: 0 4px 4px 0;
        }
    }

    .fine-print
    {
        padding:0 1em;
    }

    textarea
    {
        margin-top: .5em;
        padding: .5em;
        font-size: .9em;
        width: 100%;
        border: none;
        border-bottom: 1px solid $grey-03;
        background-color: $grey-04;
        resize: none;
    }
}
.help-block-error
    {
        font-size: 0.8em;
        color:$red-01!important;
        margin-bottom:0;
    }
.inline-grey-box-wrapper
{
    display:block;
    @include breakpoint($tablet-hor)
    {
        @include  flexbox-display;
        flex:1 0 auto;
    }
    #subscription-container, form
    {
        @include  flexbox-display;
        @include flexbox-direction(column);
        flex:1 0 auto;
    }
    .box-content
    {
        @include  flexbox-display;
        @include flexbox-direction(column);
        flex: 1 0 auto;
        height: 100%;
    }
}

.checkout-steps-container
{
    margin-bottom: 2em;
    border-bottom:1px solid $grey-04;

    @include breakpoint($mobile-vert)
    {
        margin-bottom: 3em;
    }

    .checkout-steps
    {
        margin-bottom:2em;
        @include flexbox-display;
        @include flexbox-direction(row);
        @include flexbox-space-between;
    }

}

.checkout-step
{
    position: relative;
    $step-wrapper-size: 2em;

    @include breakpoint($mobile-vert)
    {
        margin: 0 1em;
    }

    .step-wrapper
    {
        display: inline-block;
        width: $step-wrapper-size;
        height: $step-wrapper-size;
        background-color: #E2E3E5;
        color: white;
        text-align: center;
        font-size: .6em;
        vertical-align: top;
        line-height: $step-wrapper-size;
    }

    .text
    {
        display:none;
        vertical-align: top;
        position: relative;
        margin-left: .5em;

        @include breakpoint($mobile-vert)
        {
            color: $grey-03;
            font-weight: 300;
            font-size: 1em;
            display: inline-block;
        }
    }

    hr
    {
        display:none;
        @include breakpoint($mobile-vert)
        {
            width: 100%;
            max-width: 2em;
            border: none;
            height: 1px;
            background-color: $grey-03;
            bottom: -.25em;
            left: 0;
            position: absolute;
            display: block;
        }
    }

    &.active
    {
        cursor: pointer;
        .step-wrapper
        {
            background-color: $green-01;
        }

        .text
        {
            color: $green-01;
            font-weight: bold;
            display: inline-block;
        }

        hr
        {
            height: 2px;
            background-color: $green-01;
        }
    }

    &.filled
    {
        cursor:pointer;
        .step-wrapper
        {
            background-color: $grey-01;

            .digit
            {
                display: none;
            }

            &:after
            {
                @extend .material-icons;
                content: "check";
                line-height: 2.2em;
                font-size: 1em;
                font-weight: bold;
            }
        }

        .text
        {
            color: $grey-01;

            .dark &
            {
                color: white;
            }
        }

        hr
        {
            background-color: $grey-01;
        }
    }
}

.inline-metrics-container
{
    margin-bottom: 2em;

    .inline-metrics
    {
        margin-bottom:2em;
        @include flexbox-display;
        @include flexbox-direction(row);
        @include flexbox-space-around;

        > li
        {
            text-align: center;

            .title
            {
                font-weight: bold;
                margin-bottom: .25em;
            }

            .value
            {
                font-size: 1.65em;
                color: $grey-02;
                font-weight: 300;
                margin-bottom: .1em;
            }

            .sub-text
            {
                font-size: .8em;
                color: $grey-02;
            }
        }
    }
}

.inline-ad-container
{
    padding: .5em .5em .5em 1em;
    border-radius: 4em;
    @include colorArray;
    @include flexbox-display;
    @include flexbox-vertical-center;
    font-size: .9em;
    color: white;

    .content
    {
        flex-grow: 1;
        @include flexbox-display;
        padding-right: .5em;
        align-items: center;

        .img-container
        {
            margin: 0 .5em 0 0;
        }

        .sub-text
        {
            margin-bottom: 0;
        }
    }

    .text
    {
        flex-grow: 1;
        padding-right: .5em;
    }

    .btn-container
    {
        width: auto;

        .btn
        {
            box-shadow: none;
            background: transparent;
            border: 1px solid white;
            border-radius: 4em;
            color: white;
            font-size: .75em;

            .btn-text
            {
                line-height: 2em;
                white-space: nowrap;
            }
        }
    }

}

.subdomain
{
    position:absolute;
    right: 0;
    font-size:1.1em;
}
