.tabs-container
{
    margin: 0 auto;
    margin-bottom: 2em;
    position: relative;
    max-width: 40em;

    .tabs
    {
        text-align: center;
        cursor:pointer;
        display:block;
        @include flexbox-direction(row);
        @include flexbox-space-between;
        @include breakpoint($tablet-vert)
        {
             @include flexbox-display;
        }
        li
        {
            border: 1px solid $green-01;
            background: white;
            display: inline-block;
            padding: 0 10px;
            font-size:0.7em;
            flex: 1;
            border-right:none;
            @media only screen and (max-width: 348px)
            {
                width:100%;
                margin:0.5em 0;
                border-right:1px solid #ffffff!important;
            }
            &:last-child()
            {
                border-right:1px solid  $green-01;
            }

            a
            {
                
                text-decoration: none;
                font-weight:bold;
                color: $green-01;
                font-size: 1.2em;
                text-transform: uppercase;
                letter-spacing: .08em;
                line-height: 2.75em;

                &:hover
                {
                    filter: brightness(100%) !important;
                }
            }

            &.selected
            {
                background: $green-01;

                a
                {
                    color:white;
                    &:not(.btn)
                    {
                        &:hover, &:focus
                        {
                            filter: brightness(100%);
                        }
                    }
                }
            }

        }
    }

    .one-month-free
    {
        $image-width: 7em;
        position: absolute;
        right: -$image-width;
        top: -.5em;

        img
        {
            width: $image-width;
            padding-left: 1em;
        }
    }
}
